* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-img-hero > img{
  width: 100vw;
  margin-top: 24px;
}

#section-info {
  margin-top: 40px;
}

#section-info > #div-info {
  margin-top: 45px;
}