* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 16px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-img-hero > img{
  width: 100vw;
  margin-top: 24px;
}

#section-info {
  margin-top: 40px;
}

#section-info > #div-info {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#div-info h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #151515;
}

#div-info p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #686868;
}

#div-info button {
  width: 136px;
  height: 48px;
  background-color: #151515;

  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.222222px;
  color: #FAFAFA;
  border-radius: 15px;
}